.wrapper {
    display: flex;
    margin: 0 auto;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.snippet-wrapper {
	max-width: 500px;
}

ul {
	padding: 0;
}

.project-image {
	max-width: 200px;
	margin: 10px;
	border-radius: 10px;
}

.project-title, 
#project-detail-wrapper h1 {
 	color: #999;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 50px;
	text-transform: uppercase;
}

a.project-title {
	color: #999;
}

a.project-title:hover {
	color: #777;
}

@media (max-width: 750px) {
	.wrapper {
		flex-direction: column;
	}

	.snippet-wrapper {
		text-align: center;
	}

	ul {
		padding: 0 10px;
	}
}

/* PROJECT DETAIL PAGE */

#project-detail-wrapper {
	width: 750px;
	margin: 0 auto;
}

@media (max-width: 800px) {
	#main-image-wrapper {
		float: none !important;
		margin: 0 auto !important;
	}

	#project-detail-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

.project-thumbs {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	clear: both;
	margin-top: 50px;
}

.project-thumbs li {
	margin: 10px;
}

#main-image-wrapper {
	display: flex;
	width: 300px;
	justify-content: center;
	align-items: flex-start;
	float: left;
	overflow: hidden;
	margin: 0 20px 20px 0;
}

#main-image-wrapper img {
	max-width: 100%;
	border-radius: 10px;
}

.images {
	width: 100px;
}

.images:hover {
	cursor: pointer;
}

