<ul>
  <li ng-repeat="project in $ctrl.projects" class="wrapper">
  	<div class="image-wrapper section">
	    <a href="#!/projects/{{project.id}}" class="thumb">
		    <img class="project-image" ng-src="{{project.imageUrl}}" alt="{{project.name}}" />
		</a>
	</div>
	<div class="snippet-wrapper section">
		<a class="project-title" href="#!/projects/{{project.id}}">{{project.name}}</a>
    	<p>{{project.snippet}}</p>
    </div>
  </li>
</ul>
<ul>
  <li ng-repeat="site in $ctrl.sites" class="wrapper">
  	<div class="image-wrapper section">
	    <a href="{{site.url}} class="thumb">
		    <img class="project-image" ng-src="{{site.imageUrl}}" alt="{{site.name}}" />
		</a>
	</div>
	<div class="snippet-wrapper section">
		<a class="project-title" href="{{site.url}}">{{site.name}}</a>
    	<p>{{site.snippet}}</p>
    </div>
  </li>
</ul>
<ng-include src="'footer/footer.template.html'"></ng-include>